
h1 {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 0%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
h4{
    margin-top: 0%; 
    font-size: 20px ;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 130px;
    border-radius: 5px;
    float: right;
}
body {
    background: rgb(196, 196, 248);
    margin-left: 380px;
    margin-right: 380px;
    box-shadow: 0 0 10px 0 #bbbbbb;
  
}
.topo {
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    
}

.produto {
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px; 
    margin-bottom: 10px;
    box-shadow: 10px 10px 0 0 #bbbbbb;
    cursor: pointer;
    border: 5px solid white;

}

.bnt {
    display: flex;
}

#btFinalizar {
    background-color: rgb(110, 110, 247);
    padding: 15px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px rgb(68, 65, 71);
    margin-top:  30px;
    margin-left: 30%;
}

#icon {
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 40%;
}
